.main{
    align-items: center;
    width: 100%;
    border: red solid;
    padding-left: 10%;
    display:block;
}
.input_div{
    margin-top: 20px;
    width: 80%;
  
  
    padding-top: 05%;
}
.voice_div{
    justify-content: center;
    width: 80%;
 

}
.input_div input{
    width: auto;
    background-color: azure;
    border: rgb(11, 10, 10) solid;
    width: 300px;
    border-radius: 10px;
    color: blue;
    height: 30px;
}
.input_div button{
    background-color: rgb(6, 6, 6);
    color: rgb(253, 253, 253);
    font-size: 20px;
    border-radius: 30px;
    margin-left: 10px;
}
.play{
    width :1000px;
    height: 500px;
    margin-top: 30px;
}